[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
frc2019-vision = {editable = true,path = "."}
#black = "*"
invoke = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
requests = "*"

[packages]
imutils = "*"
numpy = "*"
opencv-python = "*"

[requires]
python_version = "3.7"
